.css-transitions-only-after-page-load * {
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

.tooltip {
    pointer-events: none;
}