nav.navbar.navbar-expand-md.navbar-light.bg-light.flex-shrink-0
  a.navbar-brand(href='/') TundraBot
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#nav', aria-controls='nav', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #nav.collapse.navbar-collapse
    .navbar-nav
        a.nav-link(href=user ? "/dashboard" : "/login")
                i.fas.fa-chalkboard
                span.pl-1 Dashboard
        a.nav-link(href='/commands')
            i.fas.fa-code
            span.pl-1 Commands
        a.nav-link(href="https://www.github.com/joshuayuen99/discordbot")
            i.fab.fa-github
        a.nav-link(href="/invite")
            i.fab.fa-discord
    .navbar-nav.ml-auto
        if user
            .dropdown
                #dropdownMenuButton.dropdown-toggle.bg-transparent(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    img.user-avatar.round(src=user.avatarUrl(32) width=32 height=32)
                    span.pl-2 #{user.username}
                .dropdown-menu(aria-labelledby='dropdownMenuButton')
                    a.dropdown-item(href="/dashboard") #[i.fas.fa-chalkboard] Dashboard
                    a.dropdown-item(href="/logout") #[i.fas.fa-user-slash] Logout
        else
            a.nav-link(href='/login')
                i.fas.fa-sign-in-alt
                span.pl-2 Login
